<h2>本棚</h2>
 <div class="footer_fixed">
<div class="bookshelf-container wrapper">
  <% @books.each do |book| %>
    <div class="book-card">
      <%= image_tag book.image_url, class: "book-img" %>
      <h2><%= book.title %></h2>
      <p>著者: <%= book.author %></p>
      <p>発売日: <%= book.published_date %></p>
      <div class="review">
      <%= link_to '感想を書く→', bookshelf_path(book), class: 'link-text' %>
      </div>
    
    </div>
  <% end %>

</div>
<%= link_to '←本検索に戻る', search_path, class: 'link-text-search'%>
 </div>
