<h1>本棚一覧</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= image_tag book.image_url, alt: 'book cover' %>
      <h3><%= book.title %></h3>
      <p>著者: <%= book.author %></p>
      <p>発売日: <%= book.published_date %></p>
      <%= link_to '感想を書く', bookshelf_path(book), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
<%= link_to '本検索に戻る', search_path %>
