<div class="footer_fixed">
  <div class="show-container">
    <h1><%= @book.title %></h1>
    <div class="grid">
      <div class="book-imgarea">
        <%= image_tag @book.image_url, class: "book-img" %>
      </div>
      <div class="book-info">
        <p>著者: <%= @book.author %></p>
        <p>発売日: <%= @book.published_date %></p>

        <% if @book.review.present? %>
        <div class= "review-area">
          <p>感想: <%= simple_format(@book.review) %></p>
        </div>
          <%= link_to '編集する', edit_bookshelf_path(@book), class: 'edit-link' %>
        <% else %>
          <p>感想:</p>
        <% end %>
      </div>
    </div>
    <% if @book.review.blank? %>
      <%= form_with(url: add_review_bookshelf_path(@book), method: :post) do |form| %>
        <%= form.text_area :review, class: "text_area" %>
        <%= form.submit '保存' %>
      <% end %>
    <% end %>

    <%= link_to '戻る', bookshelf_index_path %>
    <%= button_to '本棚から削除', bookshelf_path(@book), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "deleted-btn" %>
  </div>
</div>
