<h1><%= @book.title %></h1>
<%= image_tag @book.image_url, alt: 'book cover' %>
<p>著者: <%= @book.author %></p>
<p>発売日: <%= @book.published_date %></p>

<% if @book.review.present? %>
  <p>レビュー: <%= @book.review %></p>
  <%= link_to '編集', edit_bookshelf_path(@book), class: 'btn btn-primary' %>
<% else %>
  <p>感想</p>
<% end %>