<div class="sidebar">
  <ul class="sidebar-menu">
    <% if current_user %>
      <li class= "user-name"><%= current_user.name %> さん</li>
      <li><%= link_to '本検索', search_path %></li>
      <li><%= link_to '本棚', bookshelf_index_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
    <% else %>
      <li class="sidebar-item"><%= link_to 'ログイン', new_user_session_path %></li>
      <li class="sidebar-item"><%= link_to 'サインアップ', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
