<h1>本一覧</h1>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag '検索' %>
<% end %>

<div>
  <% if @books.present? %>
    <h2>検索結果</h2>
    <ul>
      <% @books['items'].each do |item| %>
        <% volume_info = item['volumeInfo'] %>
        <li>
          <% if volume_info['imageLinks'].present? %>
            <%= image_tag volume_info['imageLinks']['thumbnail'], alt: 'book cover' %>
          <% end %>
          <h3><%= volume_info['title'] %></h3>
          <% if volume_info['authors'].present? %>
            <p>著者: <%= volume_info['authors'].join(', ') %></p>
          <% end %>
          <% if volume_info['publishedDate'].present? %>
            <p>発売日: <%= volume_info['publishedDate'] %></p>
          <% end %>
       


        </li>
      <% end %>
    </ul>
  <% else %>
    <p>検索結果がありません。</p>
  <% end %>
</div>
